<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Pacote:Croácia, Eslovênia Montenegro e Bósnia-Herzegovina | Fuga Aérea</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/style.css">
</head>

<body>

	<div id="container">

		<!-- Inicio Código -->

		<!-- Inicio Cabeçalho (Imagens) -->

		<div id="header">
			<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="imagens/croacia.jpg" class="d-block w-100">
					</div>
					<div class="carousel-item">
						<img src="imagens/Eslovênia.jpg" class="d-block w-100">
					</div>
					<div class="carousel-item">
						<img src="imagens/Montenegro.jpg" class="d-block w-100">
					</div>
					<div class="carousel-item">
						<img src="imagens/Bósnia-Herzegovina.jpg" class="d-block w-100">
					</div>
					<div class="carousel-item">
						<img src="imagens/imagem5.jpg" class="d-block w-100">
					</div>
					<div class="carousel-item">
						<img src="imagens/imagem6.jpg" class="d-block w-100">
					</div>
					<div class="carousel-item">
						<img src="imagens/imagem7.jpg" class="d-block w-100">
					</div>
					<div class="carousel-item">
						<img src="imagens/imagem8.jpg" class="d-block w-100">
					</div>
					<div class="carousel-item">
						<img src="imagens/imagem9.jpg" class="d-block w-100">
					</div>
					<div class="carousel-item">
						<img src="imagens/imagem10.jpeg" class="d-block w-100">
					</div>
				</div>
			</div>
		</div>

		<!-- Fim Cabeçalho (Imagens) -->

		<!-- Inicio Frase Header -->

		<div id="mainnav">
			<div class="frasemenu">Pacote: Croácia, Eslovênia Montenegro e Bósnia-Herzegovina</div>
		</div>

		<!-- Fim Frase Header -->

		<!-- Inicio Menu -->

		<div id="menu">
			<nav class="navbar navbar-expand-xl bg-light w-100">
				<div class="container-fluid">
					<a class="navbar-brand" href="/home"><img src="imagens/logo1.png"></a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
						data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ">
							<li class="nav-item">
								<a class="nav-link active menu-active text-dark estilo estilo-navbar"
									aria-current="page" href="/home">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active menu-active text-dark estilo-navbar" aria-current="page3"
									href="/sobre">Sobre</a>
							</li>
							<li class="nav-item dropdown">
								<a class="dropdown-toggle nav-link active menu-active text-dark estilo-navbar" href="#"
									id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									Destinos
								</a>
								<ul class="dropdown-menu" style="background-color: #b3b3b3"
									aria-labelledby="navbarDropdown">
									<li><a class="dropdown-item dropdown-active" href="/consultoria">Consultoria de
											Viagem</a></li>
									<li><a class="dropdown-item dropdown-active" href="/passeios">Passeios
											Experiências</a></li>
									<li><a class="dropdown-item dropdown-active " href="/rotas">Rotas
											Turísticas</a></li>
									<li><a class="dropdown-item dropdown-active menu2-active" href="/pacotes">Pacotes
											de
											Viagem</a></li>
								</ul>
							</li>
							<li class="nav-item">
								<a class="nav-link active menu-active text-dark estilo-navbar" aria-current="page4"
									href="/promocoes">Promoções</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active menu-active text-dark estilo-navbar" aria-current="page4"
									href="/contato">Contato</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>

		<!-- Fim Menu -->

		<!-- Inicio Corpo -->

		<div class="container">
			<div class="titulo-corpo-sobre">
				<h2>Prepara-se para conhecer destinos incríveis e
					viver grandes emoções!
					Cidades charmosas, marcos históricos, natureza
					exuberante, paisagens bucólicas, gastronomia típica
					e muito mais o aguardam neste incrível roteiro!</h2>
			</div>

			<br>

			<p class="font-consul">
			<h4>Uma inédita viagem percorrendo quatro países para explorar as belezas das Balcãs e do Mar Adriático.
			</h4>

			<br>

			<h5>
				<font color="#025159">Destaques do Roteiro:</font>
			</h5>

			<br>

			<ul>
				<li>Passeio em Liubliana, a capital da Eslovênia</li>
				<li>Visita ao Castelo de Liubliana com bela vista de toda a cidade;</li>
				<li>Visita ao Castelo de Predjama, um dos castelos mais impressionantes da Europa;</li>
				<li>Visita à Caverna de Postojna, a atração mais visitada da Eslovênia;</li>
				<li>Visita ao Lago de Bled, de uma beleza natural singular;</li>
				<li>Passeio de barco até a ilha do lago de Bled;</li>
				<li>Visita à igreja da Assunção, na ilha do lago de Bled;</li>
				<li>Visita ao Castelo de Bled, um castelo medieval com uma vista magnífica;</li>
				<li>Visita ao Lago Bohinj, um belo lago verde esmeralda nos Alpes Julianos;</li>
				<li>Passeio em Zagreb, a capital da Croácia;</li>
				<li>Entrada e passeio no Parque Nacional dos Lagos de Plitvice, o maior do país
					e uma das atrações mais visitadas de toda a Croácia;</li>
				<li>Passeio pela milenar Split, cidade que se fundiu com o antigo palácio Romano
					construído há mais de 1.700 anos atrás;</li>
				<li>Tempo livre para desfrutar Hvar - passeio, compras ou curtir uma praia - cada
					um pode desfrutar seu tempo de acordo com seus interesses;</li>
				<li>Passeio pelo Centro Histórico de Dubrovnik, a cidade murada à beira mar e a mais
					visitada da Croácia;</li>
				<li>Passeio de um dia em Montenegro, desde 2006 o país mais jovem da Europa;</li>
				<li>Passeio de um dia para a Bósnia-Herzegovina, um país europeu de maioria religiosa muçulmana;</li>

			</ul>

			<br>

			<h5>
				<font color="#025159">Comodidades:</font>
			</h5>

			<br>

			<ul>
				<li>Acompanhamento de guias brasileiros com vasta experiência em viagens durante todo o trajeto;</li>
				<li>Todos os passeios com guias locais em português ou espanhol;</li>
				<li>Hospedagem em Hotéis Categoria Superior;</li>
				<li>Todos os passeios e ingressos que constam no programa inclusos;</li>
				<li>Veículos privados e confortáveis para o grupo;</li>
				<li>Grupos pequenos, permitindo maior conforto, segurança e um atendimento mais individualizado.</li>
			</ul>

			<br>

			<h5>
				<font color="#025159">Data de Saída:</font>
			</h5>

			Saída dia 01 de Setembro de 2022.

			<br>
			<br>

			<h5>
				<font color="#025159">Duração do Pacote:</font>
			</h5>

			15 dias / 12 noites.

			<br>
			<br>

			<h5>
				<font color="#025159">Cidades/Lugares:</font>
			</h5>

			Eslovênia: Liubliana, Castelo de Predjama, Caverna de Postojna, Lago de Bled, Castelo de Bled e Lago Bohinj
			<br>
			Croácia: Zagreb, Parque Nacional dos Lagos de Plitvice, Split, Ilha de Hvar e Dubrovnik
			<br>
			Montenegro: Perast e Kotor
			<br>
			Bósnia-Herzegovina: Pocitelj, Medjugorje e Mostar

			<br>
			<br>

			<h5>
				<font color="#025159">Hospedagem:</font>
			</h5>

			2 noites em Zagreb
			<br>
			3 noites em Liubliana
			<br>
			1 noite em Split
			<br>
			2 noites em Hvar
			<br>
			4 noites em Dubrovnik

			<br>
			<br>

			<h4>
				<font color="#025159">Refeições Incluídas:</font>
			</h4>

			Café da manhã diários.

			<br>
			<br>

			<h4>
				<font color="#025159">Programa Diário:</font>
			</h4>

			<font color="#ffa5001">1º DIA – 01/09/22 – QUI</font> | BRASIL / ZAGREB<br>
			Embarque Brasil - Zagreb
			<br>
			<br>
			<font color="#ffa5001">2º DIA – 02/09/22 – SEX</font> | ZAGREB<br>
			Chegada em Zagreb, a capital da Croácia. Transfer até o hotel e restante do dia livre.
			<br>
			<br>
			<font color="#ffa5001"> 3º DIA – 03/09/22 – SAB </font> | ZAGREB / LIUBLIANA<br>
			Pela manhã encontro com seu guia no hotel e viagem para Liubliana, a capital da Eslovênia. Passeio à pé por
			Liubliana,
			uma cidade pitoresca, cortada pelo Rio Ljubljanica, que em forma de curva, divide a cidade velha do centro
			comercial. Rica em monumentos, museus, edifícios
			interessantes e pelo Castelo de Liubliana, uma fortaleza medieval, ela possui uma belíssima paisagem
			arquitetônica.
			<br>
			<br>
			<font color="#ffa5001">4º DIA – 04/09/22 – DOM</font> | LIUBLIANA/ CASTELO DE PREDJAMA / CAVERNA DE POSTOJNA
			/ LIUBLIANA <br>
			Após o café da manhã seguiremos para o Castelo de Predjama, um dos castelos medievais mais impressionantes
			de toda a Europa, pois foi construído dentro de uma rocha sobre um desfiladeiro. Em seguida iremos para a
			Caverna de Postojna, a atração mais visitada da Eslovênia. São 24 km de túneis e galerias, dos quais 5 km
			são abertos para visitação, com um trenzinho que leva a todos para seu interior. Um passeio guiado por
			dentre estalactites e estalagmites formadas em milhares de anos. Lá também vive o Proteus, também chamado de
			“bebê dragão”, um animal aquático misterioso que vive nas profundezas desta caverna. A temperatura no
			interior da caverna está sempre entre 8° e 10° C e um casaco se faz necessário mesmo em dias de 30° C.
			<br>
			<br>
			<font color="#ffa5001">5º DIA – 05/09/22 – SEG</font> | LIUBLIANA/ LAGO BLED / CASTELO BLED / LAGO BOHINJ /
			LIUBLIANA <br>
			Situada aos pés dos Alpes Julianos, ao longo de seu Lago Verde-Esmeralda, Igreja de cartão postal em uma
			ilhota com formato de uma lágrima e um Castelo Medieval agarrado a um penhasco rochoso, Bled é um dos
			principais destinos turísticos da Eslovênia, atraindo muitos por suas belezas naturais. Faremos um passeio
			de barco até a ilha de Bled para conhecer sua pitoresca igreja. Em seguida seguimos para o castelo Bled, no
			topo de uma colina na beira do lago. Este belo castelo medieval oferece também uma vista incrível deste lago
			pitoresco. Em seguida seguiremos para outro lago pitoresco, o lago Bohinj, um belo lago alpino de águas
			cristalinas de coloração verde-esmeralda muito popular entre os eslovenos e muito visitado no verão. Ambos
			são os mais belos lagos da Eslovênia e agora cada um pode tomar sua decisão de qual é o número um. Retorno
			para Liubliana e noite livre.
			<br>
			<br>
			<font color="#ffa5001">6º DIA – 06/09/22 – TER</font> | LIUBLIANA/ ZAGREB <br>
			Retornaremos para Zagreb, onde faremos um passeio à pé pelo seu centro histórico. Zagreb é a maior cidade da
			Croácia e está dividida em duas partes: Cidade Alta, a parte mais antiga e a Cidade Baixa. A cidade
			concentra as principais atrações na chamada Ferradura Verde de Lenuci - nome do urbanista que a criou (um
			“U” formado por vários parques). A Catedral da Assunção da Sagrada Virgem Maria, coM seu telhado colorido, é
			o símbolo da cidade. Após o passeio, restante do dia livre.
			<br>
			<br>
			<font color="#ffa5001">7º DIA – 07/09/22 – QUA</font> | ZAGREB / PARQUE NACIONAL DOS LAGOS DE PLITVICE /
			SPLIT <br>
			Após o café da manhã seguiremos para o Parque Nacional dos Lagos de Plitvice, formado por lagos e cachoeiras
			de uma cor turmalina que impressiona a todos os visitantes. É o maior parque nacional da Croácia e uma das
			atrações mais visitadas do país, com 16 lagos conectados por uma série de cachoeiras e muito rico em fauna e
			flora. É Patrimônio Natural da UNESCO desde 1979 com um conjunto de belezas naturais que formam paisagens
			únicas e espetaculares. O passeio é realizado em caminhos na beira do lado e em pontilhões de madeira sobre
			as águas. Após o passeio seguiremos para a milenar cidade de Split, a segunda maior cidade da Croácia, na
			costa do Mar Adriático (Hotel).
			<br>
			<br>
			<font color="#ffa5001">8º Dia – 08/09/22 – QUI</font> | SPLIT / HAVAR <br>
			Após o café da manhã passeio a pé pelo Centro Histórico de Split, marcada pelo Palácio do Imperador Romano
			Diocleciano, terminado em 305 DC. Com o passar dos séculos, as muralhas do palácio se tornaram as muralhas
			da cidade, porém com as estruturas originais do palácio ainda reconhecíveis. Ainda podem-se observar os
			dotes de guerra trazidos pelos romanos do antigo Egito para ornamentar o palácio. Do lado do palácio, à
			beira-mar, encontra-se a Riva, um calçadão moderno com palmeiras e restaurantes, muito agradável para
			passeios. Ao final da tarde pegaremos a balsa para a ilha de Hvar, onde faremos o check in no hotel.
			<br>
			<br>
			<font color="#ffa5001">9º DIA – 09/09/22 – SEX</font> | HAVAR<br>
			Hvar, uma ilha croata no mar Adriático, é a mais extensa ilha da Croácia, com 68 km. É um destino de verão
			muito popular na Europa, sendo considerada uma das mais belas de todas as 1244 ilhas do país. Após o café da
			manhã faremos um tour à pé pela charmosa cidade de Hvar. Os destaques da cidade portuária de Hvar incluem as
			suas muralhas do século XIII, uma fortaleza no topo da colina de onde se tem belas vistas da cidade e das
			ilhas vizinhas e uma praça principal, onde se encontra a Catedral de Hvar, da era renascentista. Após o
			passeio, tempo livre para passear, fazer comprar ou aproveitar uma praia.
			<br>
			<br>
			<font color="#ffa5001">10º DIA – 10/09/22 – SAB</font> | HAVAR / DUBROVNIK<br>
			Manhã e parte da tarde livres em Hvar para desfrutar de uma praia, fazer compras ou simplesmente passear. Ao
			final da tarde pegaremos a balsa para Dubrovnik, a cidade mais famosa da Croácia. Receptivo e Transfer até o
			hotel.
			<br>
			<br>
			<font color="#ffa5001">11º DIA – 11/09/22 – DOM</font> | DUBROVNIK<br>
			Dubrovnik é conhecida por sua Cidade Antiga, cercada por enormes muralhas de pedra do séc., XVI. Pela sua
			beleza natural e urbanística, e pelo que representa para a história, Dubrovnik é conhecida como a "Pérola do
			Adriático". As imponentes e bem conservadas muralhas, a arquitetura medieval, renascentista e barroca, a
			paisagem do Adriático, os cafés e restaurantes fazem de Dubrovnik um destino turístico único, e que desde
			1979 foi considerada Patrimônio Mundial pela UNESCO. Após o café da manhã, passeio guiado à pé pelo Centro
			Histórico da cidade, suas muralhas e o famoso teleférico. Restante do dia e noite livres.
			<br>
			<br>
			<font color="#ffa5001">12º DIA – 12/09/22 – SEG</font> | DUBROVNIK / MONTENEGRO (PERAST - KOTOR) /
			DUBROVNIK<br>
			Passeio de um dia para Montenegro, desde 2006 o país mais novo da Europa. Visitaremos a baía de Kotor,
			conhecida como os fiordes do Adriático por suas encostas íngrimes junto ao mar, uma das paisagens mais
			impressionantes do Mar Mediterrâneo. A cidade de Kotor é uma cidade fortificada entre o mar e as encostas
			das montanhas e possui um conjunto arquitetônico bastante singular graças a sua longa história e influências
			de diferentes partes da Europa e herança católica e ortodoxa. No pequeno vilarejo de Perast visitaremos a
			ilha de Nossa Senhora das Rochas, onde marinheiros encontraram uma imagem de Nsa. Senhora em 1452 sobre
			rochas na Baía de Kotor. Em 1772 foi construída uma igreja sobre a ilha com dezenas de pinturas e outros
			objetos de imensurável valor religioso. Após o passeio, retorno para Dubrovnik (hotel). Noite livre.
			<br>
			<br>
			<font color="#ffa5001">13º DIA – 13/09/22 – TER</font> | DUBROVNIK / BÓSNIA-HERZEGOVINA (POCITELJ,
			MEDJUGORJE E MOSTAR) / DUBROVNIK <br>
			Partiremos pela manha para o passeio do dia para Bósnia e Herzegovina. Faremos uma breve parada numa pequena
			aldeia, Pocitelj, que possui uma mistura impressionante de arquitetura medieval e otomana, foi construída
			sobre uma colina que domina o leito do rio Neretva. Embora a aldeia tenha sido mencionada pela primeira vez
			em documentos escritos em 1444, presume-se que foi construída pelo rei bósnio em 1383. A segunda parada é em
			Medjugorje, considerada um dos maiores santuários Marianos da região, onde desde 1980 acontecem as Aparições
			de Nossa Senhora atraindo fiéis do mundo inteiro. Em seguida, seguimos para Mostar, uma cidade ao sul da
			Bósnia-Herzegovina, com apenas 100 mil habitantes é uma das principais cidades do país com traços medievais
			na parte antiga, mesquitas e igrejas no meio de tudo isso, edifícios abandonados e cravejados de balas
			compõem o cenário de um lugar mágico. História, paisagens naturais, arquitetura e um povo receptivo são a
			combinação que faz de Mostar uma cidade incrível! Após o passeio, retorno para Dubrovnik (hotel). Noite
			livre.
			<br>
			<br>
			<font color="#ffa5001">14º DIA – 14/09/22 – QUA</font> | DUBROVNIK / BRASIL<br>
			Manhã livre. Embarque de volta ao Brasil (cada passageiro seguirá de forma independente até o aeroporto para
			pegar seu voo de volta ao Brasil). Todas as orientações e contatos de taxis e outras opções de transporte
			até o aeroporto será passada pela guia local.
			<br>
			<br>
			<font color="#ffa5001">15º DIA – 15/09/22 – QUI</font> | BRASIL<br>
			Chegada ao Brasil.

			<br>
			<br>

			<h4>O que está incluso no pacote:</h4>

			<br>

			<ul>
				<li>Bilhetes aérea e taxas aeroportuárias nacionais e internacionais;</li>
				<li>Hospedagem não mencionada no programa;</li>
				<li>Refeições e bebidas não mencionadas no programa;</li>
				<li>Bebidas durante as refeições incluídas no programa;</li>
				<li>Taxas turísticas locais;</li>
				<li>Extras de caráter pessoal, tais como telefonemas, lavanderia, souvenires, etc;</li>
				<li>Gastos de excesso de bagagem (verifique a franquia de malas permitida);</li>
				<li>Gorjetas para guias e motoristas;</li>
				<li>Qualquer item não mencionado como incluso;</li>
				<li>Qualquer item mencionado como sugerido ou opcional;</li>
				<li>Excursões, passeios, visitas e espetáculos opcionais que constem ou não no programa e sejam
					oferecidos pelos guias acompanhantes ou locais;</li>
				<li>Eventuais gastos com Testes de Covid (Antígeno, PCR ou outros) que sejam exigidos pelas autoridades,
					atrações ou prestadores de serviços;</li>
				<li>Eventuais gastos com Quarentena, caso seja necessário (recomendamos contratar seguro de viagem com
					cobertura de gastos para quarentena);</li>
				<li>Seguro de Viagem, de Cancelamento de Viagem e Extravio de Bagagem (nos consulte sobre a cobertura
					necessária e opções de seguros);</li>
				<li>Perdas ou despesas devido a imprevistos, como cancelamento de voos, balsas, trens, doenças,
					acidentes, bloqueios de estradas, intempéries, etc;</li>
			</ul>

			<br>
			<font color="#FF0000">Obs: A visita nas Muralhas e no Teleférico em Dubrovnik, são opcionais. Pessoas com
				problemas de saúde,
				restrições físicas ou dificuldade de locomoção podem não estar aptas para realizá-las. Caso tenha
				interesse
				em realizar uma ou ambas as atividades, nos informe no momento da compra do pacote para que possamos
				repassar os valores dos tickets.</font>
			<br>


			<br>

			<h4>O que não está incluso no pacote:</h4>

			<br>

			<ul>
				<li>Bilhetes aérea e taxas aeroportuárias nacionais e internacionais;</li>
				<li>Hospedagem não mencionada no programa;</li>
				<li>Refeições e bebidas não mencionadas no programa;</li>
				<li>Bebidas durante as refeições incluídas no programa;</li>
				<li>Taxas turísticas locais;</li>
				<li>Extras de caráter pessoal, tais como telefonemas, lavanderia, souvenires, etc;</li>
				<li>Gastos de excesso de bagagem (verifique a franquia de malas permitida);</li>
				<li>Gorjetas para guias e motoristas;</li>
				<li>Qualquer item não mencionado como incluso;</li>
				<li>Qualquer item mencionado como sugerido ou opcional;</li>
				<li>Excursões, passeios, visitas e espetáculos opcionais que constem ou não no programa e sejam
					oferecidos pelos guias acompanhantes ou locais;</li>
				<li>Eventuais gastos com Testes de Covid (Antígeno, PCR ou outros) que sejam exigidos pelas autoridades,
					atrações ou prestadores de serviços;</li>
				<li>Eventuais gastos com Quarentena, caso seja necessário (recomendamos contratar seguro de viagem com
					cobertura de gastos para quarentena);</li>
				<li>Seguro de Viagem, de Cancelamento de Viagem e Extravio de Bagagem (nos consulte sobre a cobertura
					necessária e opções de seguros);</li>
				<li>Perdas ou despesas devido a imprevistos, como cancelamento de voos, balsas, trens, doenças,
					acidentes, bloqueios de estradas, intempéries, etc;</li>
			</ul>

			<br>

			<h4>
				<font color="#025159">Valor do Pacote - Parte Terrestre (por pessoa):</font>
			</h4>
			<br>

			Quarto duplo: € 2.225,00
			<br>
			<br>
			Quarto individual: € 3.079,00
			<br>
			<br>
			* Taxas não inclusas
			<br>
			<br>
			* Consulte-nos para formas de pagamento
			<br>
			<br>
			* Valores sujeitos a alterações de acordo com câmbio do dia
			<br>
			<br>
			* Crianças e/ou camas adicionais (sob consulta)
			<br>
			<br>
			* Para inclusão de hospedagem na noite anterior ou posterior ao pacote (sob consulta)
			<br>
			<br>

			<h4>
				<font color="#025159">Documentação:</font>
			</h4>

			Passaporte brasileiro válido com no mínimo 6 meses a partir da data de retorno da viagem.

			<br>
			<br>

			<h4>
				<font color="#025159">Visto:</font>
			</h4>

			Portadores de passaporte brasileiro não necessitam de visto.

			<br>
			<br>

			<h4>
				<font color="#025159">Guia Acompanhante Brasileiro:</font>
			</h4>

			Profissionais com fluência em idiomas estrangeiros e com muita experiência em viagens internacionais.
			Oferecem assistência nos aeroportos, hotéis, atividades do roteiro, além de promoverem a integração do
			grupo. Nossos acompanhantes proporcionam tranquilidade e segurança durante toda a viagem.

			<br>
			<br>

			<h4>
				<font color="#025159">Guias Locais:</font>
			</h4>

			Guias locais oferecem conhecimento técnicos e históricos, enriquecendo a experiência no exterior e trazendo
			a cultura local para os viajantes.

			<br>
			<br>

			<div>
				<a href="/CheckoutPacoteCEMB" class="btn saibamais-rotas">Comprar Pacote</a>
			</div>
		</div>

		<!-- Fim Corpo -->

		<!-- Inicio Footer -->

		<div id="footer">
			<footer class="bg-light text-center text-lg-start" style="margin-top: 120px;">
				<!-- Grid container -->
				<div class="container p-4">
					<!--Grid row-->
					<div class="row">
						<!--Grid column-->
						<div class="col-lg-6 text-center">
							<h4 class="text-uppercase">Pensou em viajar?</h4>
							<h5>Viaje Fácil com a gente!</h5> <br>

							<p>
								Acompanhe-nos no Instagram e Facebook e esteja sempre atualizado com dicas,
								promoções e
								inspirações de
								belíssimos destinos para suas próximas viagens!
							</p>

							<a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;" href="#"
								role="button"><i class="ri-facebook-line"></i>
							</a>

							<a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac;" href="#!"
								role="button"><i class="ri-instagram-line"></i></a>

						</div>

						<!--Grid column-->

						<!--Grid column-->
						<div class="contatos-footer col-lg-6 text-center">
							<h5>Contatos:</h5> <br>

							<div>
								<a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca;" href="#!"
									role="button"><i class="ri-mail-line"></i></a>
								fugaerea@hotmail.com
							</div><br>

							<div>
								<a class="btn btn-success btn-floating m-1" style="background-color: #00ca5b;" href="#!"
									role="button"><i class="ri-whatsapp-line"></i></a>
								+55 101010-1010
							</div>
							<br>
							<br>

							<a href="/contato" type="button" class="btn btn-secondary btn-lg button-footer">Fale
								Conosco</a>

						</div>
						<!--Grid column-->
					</div>
					<!--Grid row-->
				</div>
				<!-- Grid container -->

				<!-- Copyright -->
				<div class="p-3" style="background-color: rgba(0, 0, 0, 0.2); margin-top: 30px;">
					<p class=" p-3 text-dark text-center">Consultoria de Viagem | Passeios e Experiência | Rotas
						Turísticas |
						Pacotes de Viagem </p>
				</div>
				<!-- Copyright -->
			</footer>
		</div>

		<!-- Fim Footer -->

		<!-- Fim Código -->
		<!-- Icones remixicon -->
		<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
		<!-- Bootstrap -->
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
			integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
			crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
			integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
			crossorigin="anonymous"></script>

</body>

</html>