<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Rotas Turísticas | Fuga Aérea</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/style.css">
</head>

<body>

	<div id="container">

		<!-- Inicio Código -->

		<!-- Inicio Cabeçalho (Imagens) -->

		<div id="header">
			<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="imagens/Imagem1.jpg" class="d-block w-100">
					</div>
					<div class="carousel-item">
						<img src="imagens/imagem2.jpg" class="d-block w-100">
					</div>
					<div class="carousel-item">
						<img src="imagens/imagem3.jpg" class="d-block w-100">
					</div>
					<div class="carousel-item">
						<img src="imagens/imagem4.jpg" class="d-block w-100">
					</div>
					<div class="carousel-item">
						<img src="imagens/imagem5.jpg" class="d-block w-100">
					</div>
					<div class="carousel-item">
						<img src="imagens/imagem6.jpg" class="d-block w-100">
					</div>
					<div class="carousel-item">
						<img src="imagens/imagem7.jpg" class="d-block w-100">
					</div>
					<div class="carousel-item">
						<img src="imagens/imagem8.jpg" class="d-block w-100">
					</div>
					<div class="carousel-item">
						<img src="imagens/imagem9.jpg" class="d-block w-100">
					</div>
					<div class="carousel-item">
						<img src="imagens/imagem10.jpeg" class="d-block w-100">
					</div>
				</div>
			</div>
		</div>

		<!-- Fim Cabeçalho (Imagens) -->

		<!-- Inicio Frase Header -->

		<div id="mainnav">
			<div class="frasemenu">Rotas Turísticas</div>
		</div>

		<!-- Fim Frase Header -->

		<!-- Inicio Menu -->

		<div id="menu">
			<nav class="navbar navbar-expand-xl bg-light w-100">
				<div class="container-fluid">
					<a class="navbar-brand" href="/home"><img src="imagens/logo1.png"></a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
						data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ">
							<li class="nav-item">
								<a class="nav-link active menu-active text-dark estilo estilo-navbar"
									aria-current="page" href="/home">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active menu-active text-dark estilo-navbar" aria-current="page3"
									href="/sobre">Sobre</a>
							</li>
							<li class="nav-item dropdown">
								<a class="dropdown-toggle nav-link active menu-active text-dark estilo-navbar" href="#"
									id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									Destinos
								</a>
								<ul class="dropdown-menu" style="background-color: #b3b3b3"
									aria-labelledby="navbarDropdown">
									<li><a class="dropdown-item dropdown-active" href="/consultoria">Consultoria de
											Viagem</a></li>
									<li><a class="dropdown-item dropdown-active" href="/passeios">Passeios
											Experiências</a></li>
									<li><a class="dropdown-item dropdown-active menu2-active" href="/rotas">Rotas
											Turísticas</a></li>
									<li><a class="dropdown-item dropdown-active " href="/pacotes">Pacotes
											de Viagem</a></li>
								</ul>
							</li>
							<li class="nav-item">
								<a class="nav-link active menu-active text-dark estilo-navbar" aria-current="page4"
									href="/promocoes">Promoções</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active menu-active text-dark estilo-navbar" aria-current="page4"
									href="/contato">Contato</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>

		<!-- Fim Menu -->

		<!-- Inicio Corpo -->

		<div class="container">
			<div class="titulo-corpo-sobre">
				<h2>Rotas Turísticas</h2>
			</div>
			<p class="font-consul">
			<h4>Sobre nossas Rotas Turísticas:</h4>
			<br>
			<ul>
				<li>Oferecemos Rotas Turísticas com os mais variados períodos,
					podendo durar desde um final de semana ou até 10 dias, assim você
					poderá escolher aquele que melhor se adeque no seu perfil e ao seu
					tempo;</li>
				<li>Todos as nossas Rotas Turísticas foram pensadas e
					desenhadas para que os nossos viajantes possam mais que conhecer
					lugares lindos e inesquecíveis, mas vivenciar viagens recheadas das
					mais diferenciadas e incríveis experiências na Alemanha, Áustria,
					Suíça e França (consultem-nos para outros destinos).</li>
				<li>Com nossa vasta experiência em planejar viagens, bem como
					nosso conhecimento e vivência dos países, regiões e cidades que
					constituem nossas Rotas Turísticas, nos possibilita montar rotas
					diferenciadas, com uma logística perfeita, para que nossos
					viajantes percam menos tempo entre aeroportos e estrada, ou seja,
					para que o seu tempo seja usado com o que realmente importa:
					desfrutar de cada local visitado e viver novas experiências!</li>
				<li>Em nossas Rotas Turísticas, vocês não só irão visitar os
					destinos selecionados e conhecer suas principais atrações, mas
					experimentar uma verdadeira imersão na cultura, história e
					gastronomia local, que apenas quem mora por aqui ou vivência a
					cidade há bastante tempo pode oferecer!</li>
			</ul>
			<br> Nós oferecemos duas possibilidades para que você possa
			desfrutar de uma de nossas Rotas Turísticas:<br> <br>
			<ul>
				<li>Rotas Turísticas Privadas - Com Guia;</li>
				<li>Rotas Turísticas - Self-Drive.</li>
			</ul>
			Conheça o que cada uma delas oferece e escolha aquela que mais atenda
			aos seus interesses, necessidades e desejos!<br> <br>
			<h4>
				<font color="#025159">Rotas Turísticas Privadas - Com Guia</font>
			</h4>
			<br> Como funciona:<br> <br>
			<ul>
				<li>Todas as nossas Rotas Turísticas são realizados em veículos
					confortáveis e bem equipados;</li>
				<li>Todas as nossas Rotas Turísticas são acompanhados por Guias
					Brasileiros (que falam português e inglês), durante todo o
					percurso;</li>
				<li>Todas as nossas Rotas Turísticas podem ser realizados por
					pessoas de qualquer idade;</li>
				<li>Todas as nossas Rotas Turísticas podem ser ajustados de
					acordo com o interesse e necessidade de cada viajante;</li>
				<li>Pegamos e entregamos você no aeroporto ou no hotel onde
					estiver hospedado, desta forma não precisará se preocupar com nada,
					só em desfrutar ao máximo e com todo conforto e segurança o seu
					passeio;</li>
				<li>Atendemos individualmente, casais, famílias e grupos
					pequenos (grupos maiores sob consulta).</li>
			</ul>
			<br>
			<h4>O que está incluso:</h4>
			<br>
			<ul>
				<li>Busca e entrega no aeroporto/hotel;</li>
				<li>Transporte em veículos confortáveis e bem equipados durante
					todo o roteiro;</li>
				<li>Motorista/Guias que falam português e inglês durante todo o
					roteiro;</li>
				<li>Hospedagem em quarto duplo em hotéis da Categoria Turística
					(Categoria Conforto - Opcional);</li>
				<li>Café da manhã em todos os hotéis;</li>
				<li>Visitas e Walking Tours mencionados no seu programa;</li>
				<li>Tickets para as atrações mencionados no seu programa;</li>
				<li>Assessoria durante toda a viagem (Pessoal e via WhatsApp).</li>
			</ul>
			<br>
			<h4>O que não está incluso:</h4>
			<br> Medidas especiais de segurança sanitária que estão sendo
			adotadas:<br>
			<ul>
				<li>Visitas, Passeios e Tickets que não foram mencionadas no
					programa;</li>
				<li>Gastos com Bebidas e Alimentação;</li>
				<li>Gastos Pessoais</li>
			</ul>
			<br>
			<h4>
				<font color="#F25C05">Rotas Turísticas - Self-Drive</font>
			</h4>
			<br> Como funciona:<br> Neste caso, receberá o Roteiro
			Completo (dia-a-dia) com todos os destinos, atrações e mapas que
			constituem a Rota Turística escolhida e você realizará a viagem de
			forma independente. Tudo no seu tempo e do seu jeito.<br> <br>
			<h4>O que está incluso:</h4>
			<br>
			<ul>
				<li>Roteiro Completo;</li>
				<li>Hospedagem em quarto duplo em hotéis da Categoria Turística
					(Categoria Conforto - Opcional);</li>
				<li>Café da manhã em todos os hotéis;</li>
				<li>Veículo alugado - Categoria Econômica (Categoria Superior -
					Opcional);</li>
				<li>Quilometragem ilimitada, A/C</li>
				<li>Seguros obrigatórios (consulte-nos para conhecer as
					condições)</li>
				<li>Assessoria durante a viagem (via WhatsApp).</li>
			</ul>
			<br>
			<h4>O que não está incluso:</h4>
			<br>
			<ul>
				<li>Busca e entrega no aeroporto/hotel;</li>
				<li>Guias;</li>
				<li>Visitas e Walking Tours;</li>
				<li>Tickets para atrações;</li>
				<li>Gasolina;</li>
				<li>Custos de Estacionamento;</li>
				<li>Multas;</li>
				<li>Pneus de Inverno;</li>
				<li>GPS;</li>
				<li>Gastos com Bebidas e Alimentação;</li>
				<li>Gastos Pessoais.</li>
			</ul>
			</p>
			<br>
			<div class="text-center">
				<h2>Escolha uma de nossas Rotas Turísticas</h2>
				<h4>E venha desfrutar de viagens inesquecíveis,</h4>
				<h4>recheadas de novas e incríveis experiências!</h4>
			</div>
			<br>
			<div class="container">
				<div class="row justify-content-md-center">
					<div class="col-md-6 col-lg-4">
						<div class="card" style="width: 18rem;">
							<img src="imagens/rota_berlim.jpg" class="card-img-top" alt="Rota Berlim">
							<div class="card-body">
								<h5 class="card-title text-center">Rota: Berlim e os
									destaques do Leste</h5>
								<div>
									<i class="ri-flag-2-line"></i> Rota Turística - Com Guia
								</div>
								<div>
									<i class="ri-car-line"></i> Rota Turística - Self-Drive
								</div>
								<div>
									<i class="ri-time-line"></i> 5 Dias / 4 Noites
								</div>
								<div>
									<i class="ri-hotel-line"></i> Saída de: BERLIM
								</div>
								<br> <a href="/rota_berlim" class="btn saibamais-rotas">Saiba
									Mais</a>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div class="card" style="width: 18rem;">
							<img src="imagens/rota-franca.jpg" class="card-img-top" alt="Rota França">
							<div class="card-body">
								<h5 class="card-title text-center">Rota: Encantos da
									França: Paris e Alsácia</h5>
								<div>
									<i class="ri-flag-2-line"></i> Rota Turística - Com Guia
								</div>
								<div>
									<i class="ri-car-line"></i> Rota Turística - Self-Drive
								</div>
								<div>
									<i class="ri-time-line"></i> 8 Dias / 7 Noites
								</div>
								<div>
									<i class="ri-hotel-line"></i> Saída de: PARIS
								</div>
								<br> <a href="#" class="btn saibamais-rotas">Saiba Mais</a>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div class="card" style="width: 18rem;">
							<img src="imagens/rota_austria.jpg" class="card-img-top" alt="Rota Austria">
							<div class="card-body">
								<h5 class="card-title text-center">Rota: Jóias da Baviera e
									Àustria</h5>
								<div>
									<i class="ri-flag-2-line"></i> Rota Turística - Com Guia
								</div>
								<div>
									<i class="ri-car-line"></i> Rota Turística - Self-Drive
								</div>
								<div>
									<i class="ri-time-line"></i> 6 Dias / 5 Noites
								</div>
								<div>
									<i class="ri-hotel-line"></i> Saída de: MUNIQUE
								</div>
								<br> <a href="#" class="btn saibamais-rotas">Saiba Mais</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Fim Corpo -->

		<!-- Inicio Footer -->

		<div id="footer">
			<footer class="bg-light text-center text-lg-start" style="margin-top: 120px;">
				<!-- Grid container -->
				<div class="container p-4">
					<!--Grid row-->
					<div class="row">
						<!--Grid column-->
						<div class="col-lg-6 text-center">
							<h4 class="text-uppercase">Pensou em viajar?</h4>
							<h5>Viaje Fácil com a gente!</h5>
							<br>

							<p>Acompanhe-nos no Instagram e Facebook e esteja sempre
								atualizado com dicas, promoções e inspirações de belíssimos
								destinos para suas próximas viagens!</p>

							<a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;" href="#"
								role="button"><i class="ri-facebook-line"></i> </a> <a
								class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac;" href="#!"
								role="button"><i class="ri-instagram-line"></i></a>

						</div>

						<!--Grid column-->

						<!--Grid column-->
						<div class="contatos-footer col-lg-6 text-center">
							<h5>Contatos:</h5>
							<br>

							<div>
								<a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca;" href="#!"
									role="button"><i class="ri-mail-line"></i></a> fugaerea@hotmail.com
							</div>
							<br>

							<div>
								<a class="btn btn-success btn-floating m-1" style="background-color: #00ca5b;" href="#!"
									role="button"><i class="ri-whatsapp-line"></i></a> +55 101010-1010
							</div>
							<br> <br> <a href="/contato" type="button"
								class="btn btn-secondary btn-lg button-footer">Fale Conosco</a>

						</div>
						<!--Grid column-->
					</div>
					<!--Grid row-->
				</div>
				<!-- Grid container -->

				<!-- Copyright -->
				<div class="p-3" style="background-color: rgba(0, 0, 0, 0.2); margin-top: 30px;">
					<p class=" p-3 text-dark text-center">Consultoria de Viagem |
						Passeios e Experiência | Rotas Turísticas | Pacotes de Viagem</p>
				</div>
				<!-- Copyright -->
			</footer>
		</div>

		<!-- Fim Footer -->

		<!-- Fim Código -->
		<!-- Icones remixicon -->
		<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
		<!-- Bootstrap -->
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
			integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
			crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
			integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
			crossorigin="anonymous"></script>
</body>

</html>