<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sobre | Fuga Aérea</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" href="../css/style.css">
</head>

<body>

	<div id="container">

		<!-- Inicio Código -->

		<!-- Inicio Cabeçalho (Imagens) -->

		<div id="header">
			<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="imagens/Imagem1.jpg" class="d-block w-100">
					</div>
					<div class="carousel-item">
						<img src="imagens/imagem2.jpg" class="d-block w-100">
					</div>
					<div class="carousel-item">
						<img src="imagens/imagem3.jpg" class="d-block w-100">
					</div>
					<div class="carousel-item">
						<img src="imagens/imagem4.jpg" class="d-block w-100">
					</div>
					<div class="carousel-item">
						<img src="imagens/imagem5.jpg" class="d-block w-100">
					</div>
					<div class="carousel-item">
						<img src="imagens/imagem6.jpg" class="d-block w-100">
					</div>
					<div class="carousel-item">
						<img src="imagens/imagem7.jpg" class="d-block w-100">
					</div>
					<div class="carousel-item">
						<img src="imagens/imagem8.jpg" class="d-block w-100">
					</div>
					<div class="carousel-item">
						<img src="imagens/imagem9.jpg" class="d-block w-100">
					</div>
					<div class="carousel-item">
						<img src="imagens/imagem10.jpeg" class="d-block w-100">
					</div>
				</div>
			</div>
		</div>

		<!-- Fim Cabeçalho (Imagens) -->

		<!-- Inicio Frase Header -->

		<div id="mainnav">
			<div class="frasemenu">Sobre a Fuga Aérea</div>
		</div>

		<!-- Fim Frase Header -->

		<!-- Inicio Menu -->

		<div id="menu">
			<nav class="navbar navbar-expand-xl bg-light w-100">
				<div class="container-fluid">
					<a class="navbar-brand" href="/home"><img src="imagens/logo1.png"></a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
						data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ">
							<li class="nav-item">
								<a class="nav-link active menu-active text-dark estilo estilo-navbar"
									aria-current="page" href="/home">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active menu-active text-dark estilo-navbar" aria-current="page3"
									href="/sobre">Sobre</a>
							</li>
							<li class="nav-item dropdown">
								<a class="dropdown-toggle nav-link active menu-active text-dark estilo-navbar" href="#"
									id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									Destinos
								</a>
								<ul class="dropdown-menu" style="background-color: #b3b3b3"
									aria-labelledby="navbarDropdown">
									<li><a class="dropdown-item dropdown-active" href="/consultoria">Consultoria de
											Viagem</a></li>
									<li><a class="dropdown-item dropdown-active" href="/passeios">Passeios
											Experiências</a></li>
									<li><a class="dropdown-item dropdown-active" href="/rotas">Rotas
											Turísticas</a></li>
									<li><a class="dropdown-item dropdown-active menu2-active" href="/pacotes">Pacotes
											de Viagem</a></li>
								</ul>
							</li>
							<li class="nav-item">
								<a class="nav-link active menu-active text-dark estilo-navbar" aria-current="page4"
									href="/promocoes">Promoções</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active menu-active text-dark estilo-navbar" aria-current="page4"
									href="/contato">Contato</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>

		<!-- Fim Menu -->

		<!-- Inicio Corpo -->

		<div class="container">
			<div class="titulo-corpo-sobre">
				<h2>Sobre a Fuga Aérea</h2>
			</div>
			<p>Temos verdadeira paixão por planejar e desenhar viagens únicas, incríveis e cheias de novas experiências
				e
				foi dessa paixão que nasceu o <strong>
					<font color="#025159">Fuga Aérea!</font>
				</strong> <br>
				<br>
				Inspirar as pessoas a viajar, conhecer lugares lindos e incríveis, viver experiências únicas e ajudá-las
				a
				realizar seus sonhos de viagem é uma grande alegria para nós!<br>
				<br>
				Somos uma equipe experiente, profissional e comprometida em servir e acolher cada um dos nossos
				clientes, que
				carinhosamente chamamos de "nossos viajantes". Estamos sempre explorando coisas novas e fora do óbvio,
				em
				busca de oferecer o melhor e trazer sempre novidades e dicas de qualidade aos nossos viajantes.<br>
				<br>
				Nós pensamos, planejamos e desenhamos a viagem por você e para você! Nossa prioridade é atendê-lo desde
				o
				início, de forma personalizada e com excelência, entendendo quais são seus desejos e suas necessidades,
				a
				maneira como gostaria de viajar e o que espera experimentar, assim podemos lhe proporcionar experiências
				únicas, de acordo com o seu gosto e perfil. Somado a isso, buscamos otimizar seu tempo, o qual
				consideramos
				ser seu bem mais valioso. Consideramos que o tempo longe de casa e do trabalho devem ser livres de
				estresse e
				rico em novas e gratificantes experiências. Entendemos que cada pessoa é única e assim também deve ser
				as suas
				viagens!<br>
				<br>
				Como Travel Designers (Designers de Viagens) oferecemos serviços diferenciados, com destaque para a
				<strong>
					<font color="#025159">Consultoria e Planejamento de Viagem, Passeios e Rotas Turísticas</font>
				</strong>, com roteiros desenhados sob
				medida e totalmente adaptáveis ao perfil e desejo de nossos viajantes, para que você possa conhecer
				lugares
				lindos e viver experiências incríveis, com todo o conforto e segurança de ter o acompanhamento de guias
				brasileiros (que dominam os idiomas português e inglês) durante todo o
				percurso
				ou poderão também fazê-lo de forma independente (Self-Drive), tendo em mãos um Roteiro Personalizado que
				os
				guiará com toda praticidade e segurança durante toda a sua viagem. Além disso, através dos
				nossos parceiros, você encontrará as melhores ofertas, podendo reservar ou adquirir serviços de forma
				rápida e
				simples, tais como: emitir seus bilhetes para voos, trem, metrô, navio; reservar a sua hospedagem;
				alugar um
				veículo; contratar um translado ou passeio; adquirir seu seguro de viagem e até mesmo comprar um chip
				para seu
				celular, desta forma sairá do Brasil já com tudo organizado, tornando sua viagem muito mais tranquila e
				segura.<br>
				<br>

				Pensou em viajar? Vá de <strong>
					<font color="#025159">Fuga Aérea!</font>
				</strong>
			</p>
		</div>

		<!-- Fim Corpo -->

		<!-- Inicio Footer -->

		<div id="footer">
			<footer class="bg-light text-center text-lg-start" style="margin-top: 120px;">
				<!-- Grid container -->
				<div class="container p-4">
					<!--Grid row-->
					<div class="row">
						<!--Grid column-->
						<div class="col-lg-6 text-center">
							<h4 class="text-uppercase">Pensou em viajar?</h4>
							<h5>Viaje Fácil com a gente!</h5> <br>

							<p>
								Acompanhe-nos no Instagram e Facebook e esteja sempre atualizado com dicas, promoções e
								inspirações de
								belíssimos destinos para suas próximas viagens!
							</p>

							<a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;" href="#"
								role="button"><i class="ri-facebook-line"></i>
							</a>

							<a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac;" href="#!"
								role="button"><i class="ri-instagram-line"></i></a>

						</div>

						<!--Grid column-->

						<!--Grid column-->
						<div class="contatos-footer col-lg-6 text-center">
							<h5>Contatos:</h5> <br>

							<div>
								<a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca;" href="#!"
									role="button"><i class="ri-mail-line"></i></a>
								fugaerea@hotmail.com
							</div><br>

							<div>
								<a class="btn btn-success btn-floating m-1" style="background-color: #00ca5b;" href="#!"
									role="button"><i class="ri-whatsapp-line"></i></a>
								+55 101010-1010
							</div>
							<br>
							<br>

							<a href="/contato" type="button" class="btn btn-secondary btn-lg button-footer">Fale
								Conosco</a>

						</div>
						<!--Grid column-->
					</div>
					<!--Grid row-->
				</div>
				<!-- Grid container -->

				<!-- Copyright -->
				<div class="p-3" style="background-color: rgba(0, 0, 0, 0.2); margin-top: 30px;">
					<p class=" p-3 text-dark text-center">Consultoria de Viagem | Passeios e Experiência | Rotas
						Turísticas |
						Pacotes de Viagem </p>
				</div>
				<!-- Copyright -->
			</footer>
		</div>

		<!-- Fim Footer -->

		<!-- Fim Código -->
		<!-- Icones remixicon -->
		<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
		<!-- Bootstrap -->
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
			integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
			crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
			integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
			crossorigin="anonymous"></script>
</body>

</html>

<!-- Fim Código -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
	crossorigin="anonymous"></script>