.container{
    width: 100%;
    margin: 0 auto;
}

/* Header e Menu */

.frasemenu{
    padding: 20px 0px;
    padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 20px;
    padding-left: 0px;

    background-color: rgb(255, 255, 255, 0.5);
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;    
    
    font-family: 25px;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-stretch: normal;
    font-size: 25px;
    line-height: normal;

    text-align: center;
    color: #025159;
    margin-top: -73px;
    z-index: 99;
    position: relative;
    text-shadow: 0px 0px 10px #fff;
    font-weight: bold;
}

.menu-active:hover{
    background-color: #036a75;
    border: 0px outset;
    font-style: italic;
    border-radius: 5px;
    color: white !important; 
}

.menu2-active{
    background-color: #036a75;
    border: 0px outset;
    font-style: normal;
    border-radius: 5px;
    color: white !important;
}

.estilo-navbar{
    font-family:'Gill Sans';
    font-size: large;
    margin: 5px;
 }

.navbar-collapse > ul li{
    display: inline-block;
    margin-right: 50px;
    padding: 5px;
    margin-left: 70px;
}


/* Corpo */

#body{
	margin: 0;  	
	padding: 0;  	
	background: #ddd;  
	}

.titulo-corpo{
    margin-top: 60px;
    min-height: 200px;
    color: black;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
    
.dropdown-active:hover{
    background-color: #036a75;
    border: 0px outset;
    font-style: normal;
    border-radius: 5px;
    color: white !important;
}

.saibamais1{
    background-color: #b3b3b3;
    border: 0px outset;
    font-style: normal;
    border-radius: 5px;
}

.saibamais2{
    background-color: #2b7d88;
    border: 0px outset;
    font-style: normal;
    border-radius: 5px;
}

.titulo-corpo-sobre{
    margin-top: 60px;
    min-height: 100px;
    color: black;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#footer{
    margin-left: -50px;
    margin-right: 0px;
    
}

.button-footer{
    padding-left: 50px;
    padding-right: 50px;
}

.form{
    margin-top: 80px;
}

.font-consul{
    font-family:'Arial';
}

.saibamais-rotas{
    background-color: #2b7d88;
    border: 0px outset;
    font-style: normal;
    border-radius: 5px;
    display: flex;
    justify-content: center; 
    color: white;
}

.img-index > img{
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: bottom;
}

.card{
    width: 100%!important;
}

.card-img-top{
    width: 100%;
    height: 200px;
}
